Package: com.fahlnbg.medusaxs
Name: MedusaXS
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: fahlnbg
Author: fahlnbg
Section: Tweaks
Version: 0.0.1-1+debug
Installed-Size: 156
